@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sandy-beige: #D2B48C;
  --olive-green: #556B2F;
  --date-brown: #8B4513;
  --sand-light: #F5F5DC;
  --reddish-date: #FF4500;
}

body {
  background-color: var(--sand-light);
  color: black;
}